header {
  --trans-duration: 750ms;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  margin: 0;
  height: 100svh;
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1.4;
  transition: grid-template-columns var(--trans-duration) linear(0, 0.287 15.7%, 0.441 23.2%, 0.999 44.7%, 0.854 52.3%, 0.82 55.7%, 0.81 59%, 0.818 61.9%, 0.844 65.1%, 0.999 77.4%, 0.974 81.1%, 0.966 84.7%, 0.996 95.4%, 1);
  &:has(>:nth-child(1):hover){
    grid-template-columns: 10fr 1fr 1fr 1fr;
  }
  &:has(>:nth-child(2):hover){
    grid-template-columns: 1fr 10fr 1fr 1fr;
  }
  &:has(>:nth-child(3):hover){
    grid-template-columns: 1fr 1fr 10fr 1fr;
  }
  &:has(>:nth-child(4):hover){
    grid-template-columns: 1fr 1fr 1fr 10fr;
  }
}

.card {
  display: grid;
  /*grid-template: 1fr / 1fr;*/
  margin: 0;
  height: 100%;
  border-image: fill 0 linear-gradient(in oklch,transparent 70%, black);
  
  background-attachment: fixed;
  background-size: cover;
  &:nth-child(1){
    background-image:url("images/jazmin-quaynor-FoeIOgztCXo-unsplash.jpg");
  background-position: center;
  } 
  &:nth-child(2){
    background-image:url("images/pexels-settlemania-16940629.jpg");
  background-position: center;
  }
   &:nth-child(3){
    background-image:url("images/sara-kurfess-5epnzwsphl0-unsplash.jpg");
  background-position: center;}
	 &:nth-child(4){
    background-image:url("images/diana-light-nvQemFKRBUo-unsplash.jpg");
  background-position: center;
  }
	
  & > * {
    grid-area: 1 / 1;
  }
  img {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  p { 
    translate: 0 100vh;
    overflow: hidden;
    color: white;
    padding: 1rem;
    align-self: end;
    text-wrap: balance;
    
    transition: translate 300ms ease-in-out;    
  }
  &:hover > p{
     transition-delay: var(--trans-duration);
     translate: 0;
    }
  }


/* Navigation Bar Styles */
   
    .navbar {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav {
      color:black;
      background-color: #FFBDBD;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .logo img {
      height: 40px;

    }

    .nav-links {
      display: flex;
      gap: 20px;
    }

    .nav-links a {
      color: white;
      text-decoration: none;
      font-size: 1.3rem;
      transition: color 0.3s;
    }

    .nav-links a:hover {
      color: #170404;
      text-decoration: underline;
      text-decoration-color: aliceblue;
      
      
    }

    .menu-btn {
      display: none;
      font-size: 1.8rem;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #222;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
      }

      .nav-links.active {
        display: flex;
      }

      .menu-btn {
        display: block;
      }
    }

    /* End of Navigation Bar Styles */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        
    }